
@font-face {
    font-family: 'Lilita One';
    src: url('../fonts/LilitaOne-Regular.ttf') format('truetype');
}

@import "variaveis.scss";
@import "cartas.scss";
@import "resultado.scss";

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: $fonte-base;
    background-color: $cor-base;
}

h1 {
    font-size: 2.5rem;
    color: $cor-texto;
    text-align: center;
    text-transform: uppercase;  
}

.jogo {
    background-image: $cor-mesa;
    max-width: 1000px;
    min-height: 550px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
    text-align:center;
    margin: 0 auto;
}

.fa-question-circle {
    color: $cor-botoes;
    font-size: 1.25rem;
}

.deck {
    background-color: $cor-botoes;
    font-size: 14px;
    color: $cor-texto;
    padding: 10px 6px 10px 6px;
    border-radius:3px;
    border: solid 2px $cor-botoes;
}

.btn {
    background: $cor-botoes;
    color: $cor-texto;
    min-width: 150px; 
    min-height: 40px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.btn:hover {
    background-color: $cor-base;
    color: $cor-texto;
}

.jogadores {
    font-size: 1.75rem;
    min-width: 950px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.jogador {
    min-height: 290px;
    width: 40%;
    padding: 10px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    background: $cor-texto;
}

.pontos {
    font-size: 1.25rem;
    margin-top: 20px;
}

.display-none {
    display: none;
}

