#copas {
    width: 107px;
    height: 162px;
    background: url(../img/cards_deck.png) -10px -10px;
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
}

#ace {
    width: 107px;
    height: 162px;
    background: url(../img/cards_deck.png) 117px -10px;
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
}

